ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

ol li {float: left;}

ol li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ol li a:hover {
    border-bottom: 1px solid #f11712;
    color: #34f9fe;
    font-weight: bolder;
    text-transform: uppercase;
}
            
.bio {
    margin-left: 215px; 
    margin-top: -225px;
}

.active {
    border-bottom: 1px solid #34f9fe; 
    color: #f11712; 
    font-weight: bolder; 
    text-transform: uppercase; 
}

margin-left: 15apx;
